In [1]:
import pandas as pd
import numpy as np

In [2]:
match_indexes = []

In [3]:
# NOT USED
# .xlsx file also includes multiple sheets, this only imports the first

full_seq_df = pd.read_excel('supplementary_data/41467_2022_32829_MOESM6_ESM.xlsx')
full_seq_df.head()

,Promoter,Txave [au],TX/Txref,Observed log(TX/Txref),Predicted log(TX/Txref)
0,TTTTCTATCTACGTACTTGACACTATTTCCTATTTCTCTTATAATC...,1.775802,27.182995,-3.386326,-5.121491
1,TTTTCTATCTACGTACTTGACACTATTTCCTATTTCTCTTATAATG...,1.727193,26.438912,-3.392439,-5.151441
2,TTTTCTATCTACGTACTTGACACTATTTCCTATTTCTCTTATAATC...,2.374441,36.346625,-3.698903,-4.974995
3,TTTTCTATCTACGTACTTGACACTATTTCCTATTTCTCTTATAATA...,3.101747,47.479815,-3.979249,-5.053109
4,TTTTCTATCTACGTACTTGACACTATTTCCTATTTCTCTTATAATA...,0.762576,11.673085,-2.577630,-5.033151

In [4]:
# THE USED .CSV FILE

df = pd.read_csv('41467_2022_32829_MOESM5_ESM.csv')
df = df[['UP', 'h35', 'spacs', 'h10', 'disc', 'ITR', 'Observed log(TX/Txref)', 'Predicted log(TX/Txref)']]
df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
0,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CCCCGCGG,CTCTACCTTAGTTTGTACGTT,-3.386326,-3.844827
1,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGGCGG,CTCTACCTTAGTTTGTACGTT,-3.503140,-3.905283
2,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGCCCG,CTCTACCTTAGTTTGTACGTT,-4.207206,-3.905283
3,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,GCGGCGGC,CTCTACCTTAGTTTGTACGTT,-3.392439,-3.877808
4,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGGGGGGC,CTCTACCTTAGTTTGTACGTT,-3.698903,-3.672384

In [5]:
print(f'All possible sequences: {len(df)}')

All possible sequences: 13481

In [6]:
def format(str):
    return str.replace(" ", "").upper()

In [7]:
def differences(str1, str2):
    return [str1[i] == str2[i] for i in range(min(len(str1), len(str2)))].count(False) + abs(len(str1) - len(str2))

## Finding matches for pUC19.pdf

In [8]:
# in order of priority (real order = h35, up, spacer, h10)

h10 = 'TATGTT'
h35 = 'TTGACA'
spacs = 'CTTTATGCTTCCGGCTCG'
up = 'ACTCATTAGGCACCCCAGGC'

In [9]:
# sequences with h10 match

pUC19_h10_df = df[(df['h10'] == h10)]
pUC19_h10_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
3827,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATGTT,TTGTGTT,CTCTACCTTAGTTTGTACGTT,-3.809935,-3.147286

In [10]:
# sequences with h35 match

pUC19_h35_df = df[(df['h35'] == h35)]
pUC19_h35_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
0,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CCCCGCGG,CTCTACCTTAGTTTGTACGTT,-3.386326,-3.844827
1,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGGCGG,CTCTACCTTAGTTTGTACGTT,-3.503140,-3.905283
2,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGCCCG,CTCTACCTTAGTTTGTACGTT,-4.207206,-3.905283
3,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,GCGGCGGC,CTCTACCTTAGTTTGTACGTT,-3.392439,-3.877808
4,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGGGGGGC,CTCTACCTTAGTTTGTACGTT,-3.698903,-3.672384

In [11]:
# sequences with h10 and h35 match

pUC19_h10_h35_df = df[(df['h10'] == h10) & (df['h35'] == h35)]
pUC19_h10_h35_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
3827,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATGTT,TTGTGTT,CTCTACCTTAGTTTGTACGTT,-3.809935,-3.147286

## Finding matches for p5.pdf

In [12]:
# This is in order of match priority and does not inlcude: -10 extended (not in LaFleur et al.), 
# discriminator (disc), or initial transcribed region (ITR).

unedited_h10 = 'T A A T T T'
unedited_h35 = 'T T G A C A'
unedited_spacs = 'C G A G C C G G A T G A T T A A T'
unedited_up = ''

h10 = format(unedited_h10)
h35 = format(unedited_h35)
spacs = format(unedited_spacs)
up = format(unedited_up)

print(f'Formatted h10: {h10}')
print(f'Formatted h35: {h35}')
print(f'Formatted spacs: {spacs}')
print(f'Formatted up: {up}')

print()

print(f'Length of h10: {len(h10)}')
print(f'Length of h35: {len(h35)}')
print(f'Length of spacs: {len(spacs)}')
print(f'Length of up: {len(up)}')

Formatted h10: TAATTT
Formatted h35: TTGACA
Formatted spacs: CGAGCCGGATGATTAAT
Formatted up:

Length of h10: 6
Length of h35: 6
Length of spacs: 17
Length of up: 0

In [13]:
# sequences with h10 match

p5_h10_df = df[(df['h10'] == h10)]
p5_h10_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
3749,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TAATTT,TTGTGTT,CTCTACCTTAGTTTGTACGTT,-2.859671,-2.966256

In [14]:
# sequences with h35 match

p5_h35_df = df[(df['h35'] == h35)]
p5_h35_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref),Predicted log(TX/Txref)
0,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CCCCGCGG,CTCTACCTTAGTTTGTACGTT,-3.386326,-3.844827
1,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGGCGG,CTCTACCTTAGTTTGTACGTT,-3.503140,-3.905283
2,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGCCCG,CTCTACCTTAGTTTGTACGTT,-4.207206,-3.905283
3,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,GCGGCGGC,CTCTACCTTAGTTTGTACGTT,-3.392439,-3.877808
4,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGGGGGGC,CTCTACCTTAGTTTGTACGTT,-3.698903,-3.672384

In [156]:
# sequences with h10 and h35 match

p5_h35_h10_df = df[(df['h10'] == h10) & (df['h35'] == h35)]
p5_h35_h10_df.head()

,UP,h35,spacs,h10,disc,ITR,Observed log(TX/Txref)
3749,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TAATTT,TTGTGTT,CTCTACCTTAGTTTGTACGTT,-2.859671