## Multiple Linear Regression
This approach treats every unique sequaence in each column as a seperate catagorical input. With 5 rows and 11942 columns, fitting a MLR model to this data would take an unrealistic amount of time and be very inaccurate. for the code to run this, see "MLR.ipynb".

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# import dataset into a pandas data frame

df = pd.read_csv('41467_2022_32829_MOESM5_ESM.csv')
df.head()

,ID,DNA1 [counts],DNA2 [counts],DNA3 [counts],RNA1 [counts],RNA2 [counts],RNA3 [counts],TX1 [au],TX2 [au],TX3 [au],...,high quality,Observed log(TX/Txref),Predicted log(TX/Txref),dG10,dG35,dGDisc,dGITR,dGEXT10,dGSPAC,dGUP
0,0,8263,7261,5173,16341,10320,13506,2.258071,1.523795,1.545541,...,Yes,-3.386326,-3.844827,-1.781524,-1.477218,-0.106428,-0.021112,0.191352,-0.0924,0.400862
1,1,5600,4886,3264,10986,7250,10800,2.240001,1.590845,1.958709,...,Yes,-3.503140,-3.905283,-1.781524,-1.477218,-0.166884,-0.021112,0.191352,-0.0924,0.400862
2,2,7898,6790,4752,19572,32204,30585,2.829533,5.084911,3.810029,...,Yes,-4.207206,-3.905283,-1.781524,-1.477218,-0.166884,-0.021112,0.191352,-0.0924,0.400862
3,3,10651,9875,6466,15734,16246,18908,1.686729,1.763814,1.731036,...,Yes,-3.392439,-3.877808,-1.781524,-1.477218,-0.139409,-0.021112,0.191352,-0.0924,0.400862
4,4,12188,10793,6965,28609,21796,26803,2.680198,2.165100,2.278025,...,Yes,-3.698903,-3.672384,-1.781524,-1.477218,0.066015,-0.021112,0.191352,-0.0924,0.400862

In [ ]:
# All input and output data

X = df[['UP', 'h35', 'spacs', 'h10', 'disc', 'ITR']]
y = df['Observed log(TX/Txref)']

X.head()

,UP,h35,spacs,h10,disc,ITR
0,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CCCCGCGG,CTCTACCTTAGTTTGTACGTT
1,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGGCGG,CTCTACCTTAGTTTGTACGTT
2,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGCGCCCG,CTCTACCTTAGTTTGTACGTT
3,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,GCGGCGGC,CTCTACCTTAGTTTGTACGTT
4,TTTTCTATCTACGTAC,TTGACA,CTATTTCCTATTTCTCT,TATAAT,CGGGGGGC,CTCTACCTTAGTTTGTACGTT

In [ ]:
# one-hot encode the each unique entry in each column
import statsmodels.api as sm

X = sm.add_constant(X[X.columns])
X = pd.get_dummies(X, columns=X.columns, drop_first=True)
X.head()

,UP_AAATCTCCTATGGGTAAGGG,UP_AAATGGTGGATTGGAGCCGC,UP_AACACGCCCAGCGCACGCCT,UP_AACTTCCTCATCCCTTTCTA,UP_AATAAATTTTAAATAAATTTTA,UP_AATAAATTTTAAATACCTTTTA,UP_AATAAATTTTAAGGAAAGTAGA,UP_AATAAATTTTAAGGACCGTAGA,UP_AATAAATTTTAATAAAACTAGC,UP_AATAAATTTTAATAACCCTAGC,...,ITR_TTGCCCTAGAGATGGATTAT,ITR_TTGCCCTTCATACGTATAAT,ITR_TTGCCTACCGATTGCCAACT,ITR_TTGTCTAGGGTTGTCCGGTG,ITR_TTGTGATATCAGATTCGTCG,ITR_TTTAAGGAGGTGACGTGGAC,ITR_TTTAGAAGTCCAATGATTTC,ITR_TTTGCACAGTACAGCGATTC,ITR_TTTGCAGACCAATATTGGGG,ITR_TTTGCCTACCGATTGCCAAC
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Label encoding to change "True"/"False" to binary
from sklearn.preprocessing import LabelEncoder

label_columns = X.columns
label_encoder = LabelEncoder()

for col in label_columns:
    X[col] = label_encoder.fit_transform(X[col])

X.head()

,UP_AAATCTCCTATGGGTAAGGG,UP_AAATGGTGGATTGGAGCCGC,UP_AACACGCCCAGCGCACGCCT,UP_AACTTCCTCATCCCTTTCTA,UP_AATAAATTTTAAATAAATTTTA,UP_AATAAATTTTAAATACCTTTTA,UP_AATAAATTTTAAGGAAAGTAGA,UP_AATAAATTTTAAGGACCGTAGA,UP_AATAAATTTTAATAAAACTAGC,UP_AATAAATTTTAATAACCCTAGC,...,ITR_TTGCCCTAGAGATGGATTAT,ITR_TTGCCCTTCATACGTATAAT,ITR_TTGCCTACCGATTGCCAACT,ITR_TTGTCTAGGGTTGTCCGGTG,ITR_TTGTGATATCAGATTCGTCG,ITR_TTTAAGGAGGTGACGTGGAC,ITR_TTTAGAAGTCCAATGATTTC,ITR_TTTGCACAGTACAGCGATTC,ITR_TTTGCAGACCAATATTGGGG,ITR_TTTGCCTACCGATTGCCAAC
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.2, random_state = 0)

# Fit the multiple linear regression model
model = sm.OLS(y_train, X_train).fit()

y_pred = model.predict(X_test)

print(f"MSE: {mean_squared_error(X_test, y_pred)}")